---
layout: default
title: Home
---

{% if page.url == "/" %}

<!-- Featured
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured Projects</span></h2>
    </div>
    <div class="row">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}
-->
<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>Projects</span></h2>

    </div>

<div class="row listrecent">
    {% for post in site.posts %}
        {% unless post.featured == true %}
            {% include postbox.html %}
        {% endunless %}
    {% endfor %}
</div>

</section>