<!-- begin post -->
<div class="col-lg-4 col-md-6 mb-30px card-group">
    <div class="card h-100">
        <div class="maxthumb">
            <a href="{{ site.baseurl }}{{ post.url }}">
                {% if post.thumbnail %}
                    {% if site.lazyimages == "enabled" %}
                        <img
                            class="img-fluid lazyimg"
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII="
                            data-src="{% if post.thumbnail contains '://' %}{{ post.thumbnail }}{% else %}{{ site.baseurl }}/{{ post.thumbnail }}{% endif %}"
                            alt="{{ post.title }}">
                    {% else %}
                        <img
                            class="img-fluid"
                            src="{% if post.thumbnail contains '://' %}{{ post.thumbnail }}{% else %}{{ site.baseurl }}/{{ post.thumbnail }}{% endif %}"
                            alt="{{ post.title }}">
                    {% endif %}
                {% endif %}
            </a>
        </div>

        <div class="card-body d-flex flex-column">
            <h2 class="card-title">
                <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </h2>

            <h4 class="card-text">
                {% if post.summary %}
                    {{ post.summary }}
                {% else %}
                    {{ post.excerpt | strip_html }}
                {% endif %}
            </h4>

            {% if post.date %}
            <div class="post-date mt-2">
                {{ post.date | date: "%B %Y" }}
            </div>
            {% endif %}            
            <!--
            <a class="mt-auto text-dark font-weight-bold" href="{{ site.baseurl }}{{ post.url }}">
                View Project →
            </a>
            -->
        </div>
    </div>
</div>
<!-- end post -->